body {
	background-color: #292F33 ;
}

.TTitle{
	font-size:50px;
	text-align:center;
	color:#55ACEE;
}

.SubTitle{
	font-size:35px;
	text-align:center;
	color:#CCD6DD;
}

.T1{
	font-size:40px;
	color:#55ACEE;
}

.T2{
	font-size:30px;
	color:#66757F;
}

.p{
	font-size:18px;
	color:#CCD6DD;
}

.but1 {
	overflow: auto;
	background-color: #171a1c;
	width: 33%;
	transition: 0.5s;
}

.but1 a {
	float: left;
	color: #55ACEE;
	padding: 16px 0px;
	text-align: center;
  	text-decoration: none;
	font-size: 30px;
	width: 100%;
	transition: 0.3s;
}

.but1 a:hover {
	background-color: #4f5b63;
	color: #74bbf1;
}

.e404 {
	font-size:35px;
	color:#66757F;
}

.txt404 {
	font-size:50px;
	text-align:center;
	color:#55ACEE;
}

@media screen and (max-width: 1300px) {

	.TTitle {font-size:40px;}
	.SubTitle {font-size:30px;}
	.txt404 {font-size:35px;}
	.but1 {width: 50%;}
}

@media screen and (max-width: 600px) {

	.TTitle {font-size:40px;}
	.SubTitle {font-size:25px;}
	.T1 {font-size:28px;}
	.T2 {font-size:22px;}
	.p {font-size:16px;}
	.txt404 {font-size:28px;}
	.but1 {width: 100%;}
	.but1 a {font-size: 20px;}
}
