body {
	background-color: gray ;
}







#BadSignal{
	font-family: 'BadSignal';
	font-size: 110%
}

#GalaxyMonkey{
	font-family: 'GalaxyMonkey';
}

#Kompani{
	font-family: 'Kompani';
}

#LemonMilk{
	font-family: 'LemonMilk';
}

#LemonMilkB{
	font-family: 'LemonMilkB';
}

#LemonMilkL{
	font-family: 'LemonMilkL';
}

