body {
	background-color: #feeacd ;
}

.TTitle{
	font-size:50px;
	text-align:center;
	color:#804a00;
}

.SubTitle{
	font-size:32px;
	text-align:center;
	color:#333333;
}

.T1{
	font-size:40px;
	color:#804a00;
}

.T2{
	font-size:35px;
	color:#8c8c8c;
}

.p{
	font-size:20px;
	color:#333333;
}


@media screen and (max-width: 1000px) {

	.TTitle {font-size:40px;}
}

@media screen and (max-width: 600px) {

	.TTitle{font-size:40px;}
	.SubTitle {font-size:20px;}
	.T1{font-size:28px;}
	.T2{font-size:22px;}
	.p{font-size:17px;}
}
