#BadSignal{
	font-family: 'BadSignal';
}

#GalaxyMonkey{
	font-family: 'GalaxyMonkey';
}

#Kompani{
	font-family: 'Kompani';
}

#LemonMilk{
	font-family: 'LemonMilk';
}

#LemonMilkB{
	font-family: 'LemonMilkB';
}

#LemonMilkL{
	font-family: 'LemonMilkL';
}

#Instruction{
	font-family: 'Instruction';
}

#InstructionB{
	font-family: 'InstructionB'; 
}
